In [1]:
import pandas as pd
import matplotlib as mpl
import sklearn
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("datasets/nncoursedataset/bks/test.csv", nrows = 100)

In [3]:
df.head()

,yr,holiday,workingday,weathersit_0,weathersit_1,weathersit_2,temp,atemp,hum,windspeed,...,registered,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos,cnt
0,0,0,0,0.25,-0.5,-0.25,0.24,0.2879,0.75,0.0000,...,0.011299,1.0,6.123234e-17,0.5,0.866025,7.071068e-01,0.707107,-0.781831,0.62349,0.012308
1,0,0,0,0.25,-0.5,-0.25,0.24,0.2879,0.75,0.0000,...,0.001130,1.0,6.123234e-17,0.5,0.866025,8.660254e-01,0.500000,-0.781831,0.62349,0.000000
2,0,0,0,0.25,-0.5,-0.25,0.42,0.4242,0.77,0.2836,...,0.062147,1.0,6.123234e-17,0.5,0.866025,1.224647e-16,-1.000000,-0.781831,0.62349,0.085128
3,0,0,0,0.25,0.5,-0.25,0.46,0.4545,0.72,0.2985,...,0.053107,1.0,6.123234e-17,0.5,0.866025,-2.588190e-01,-0.965926,-0.781831,0.62349,0.095385
4,0,0,0,0.25,0.5,-0.25,0.46,0.4545,0.88,0.2985,...,0.027119,1.0,6.123234e-17,0.5,0.866025,-2.588190e-01,0.965926,-0.781831,0.62349,0.038974

In [4]:
df.tail()

,yr,holiday,workingday,weathersit_0,weathersit_1,weathersit_2,temp,atemp,hum,windspeed,...,registered,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos,cnt
95,0,0,1,0.25,-0.5,-0.25,0.16,0.1212,0.26,0.4478,...,0.068927,1.0,6.123234e-17,0.5,0.866025,-0.707107,-0.707107,-0.974928,-0.222521,0.065641
96,0,0,0,0.25,-0.5,-0.25,0.04,0.0303,0.45,0.2537,...,0.014689,1.0,6.123234e-17,0.5,0.866025,0.000000,1.000000,-0.781831,0.623490,0.012308
97,0,0,0,0.25,0.5,-0.25,0.02,0.0152,0.48,0.2985,...,0.003390,1.0,6.123234e-17,0.5,0.866025,0.866025,0.500000,-0.781831,0.623490,0.002051
98,0,0,0,0.25,-0.5,-0.25,0.02,0.0000,0.44,0.3284,...,0.029379,1.0,6.123234e-17,0.5,0.866025,0.866025,-0.500000,-0.781831,0.623490,0.026667
99,0,0,0,0.25,-0.5,-0.25,0.10,0.1364,0.33,0.1045,...,0.072316,1.0,6.123234e-17,0.5,0.866025,-0.500000,-0.866025,-0.781831,0.623490,0.075897

In [5]:
df.columns

Index(['yr', 'holiday', 'workingday', 'weathersit_0', 'weathersit_1',
       'weathersit_2', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'season_sin', 'season_cos', 'mnth_sin', 'mnth_cos',
       'hr_sin', 'hr_cos', 'weekday_sin', 'weekday_cos', 'cnt'],
      dtype='object')

In [6]:
df.dtypes

yr                int64
holiday           int64
workingday        int64
weathersit_0    float64
weathersit_1    float64
weathersit_2    float64
temp            float64
atemp           float64
hum             float64
windspeed       float64
casual          float64
registered      float64
season_sin      float64
season_cos      float64
mnth_sin        float64
mnth_cos        float64
hr_sin          float64
hr_cos          float64
weekday_sin     float64
weekday_cos     float64
cnt             float64
dtype: object

In [7]:
df.values

array([[ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.01230769],
       [ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.        ],
       [ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.08512821],
       ...,
       [ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.00205128],
       [ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.02666667],
       [ 0.        ,  0.        ,  0.        , ..., -0.78183148,
         0.6234898 ,  0.07589744]])

In [12]:
df[0:1]

,yr,holiday,workingday,weathersit_0,weathersit_1,weathersit_2,temp,atemp,hum,windspeed,...,registered,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos,cnt
0,0,0,0,0.25,-0.5,-0.25,0.24,0.2879,0.75,0.0,...,0.011299,1.0,6.123234e-17,0.5,0.866025,0.707107,0.707107,-0.781831,0.62349,0.012308

In [13]:
df[0:4]

,yr,holiday,workingday,weathersit_0,weathersit_1,weathersit_2,temp,atemp,hum,windspeed,...,registered,season_sin,season_cos,mnth_sin,mnth_cos,hr_sin,hr_cos,weekday_sin,weekday_cos,cnt
0,0,0,0,0.25,-0.5,-0.25,0.24,0.2879,0.75,0.0000,...,0.011299,1.0,6.123234e-17,0.5,0.866025,7.071068e-01,0.707107,-0.781831,0.62349,0.012308
1,0,0,0,0.25,-0.5,-0.25,0.24,0.2879,0.75,0.0000,...,0.001130,1.0,6.123234e-17,0.5,0.866025,8.660254e-01,0.500000,-0.781831,0.62349,0.000000
2,0,0,0,0.25,-0.5,-0.25,0.42,0.4242,0.77,0.2836,...,0.062147,1.0,6.123234e-17,0.5,0.866025,1.224647e-16,-1.000000,-0.781831,0.62349,0.085128
3,0,0,0,0.25,0.5,-0.25,0.46,0.4545,0.72,0.2985,...,0.053107,1.0,6.123234e-17,0.5,0.866025,-2.588190e-01,-0.965926,-0.781831,0.62349,0.095385

In [14]:
df[0:4].values

array([[ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         2.50000000e-01, -5.00000000e-01, -2.50000000e-01,
         2.40000000e-01,  2.87900000e-01,  7.50000000e-01,
         0.00000000e+00,  8.28729282e-03,  1.12994350e-02,
         1.00000000e+00,  6.12323400e-17,  5.00000000e-01,
         8.66025404e-01,  7.07106781e-01,  7.07106781e-01,
        -7.81831482e-01,  6.23489802e-01,  1.23076923e-02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         2.50000000e-01, -5.00000000e-01, -2.50000000e-01,
         2.40000000e-01,  2.87900000e-01,  7.50000000e-01,
         0.00000000e+00,  0.00000000e+00,  1.12994350e-03,
         1.00000000e+00,  6.12323400e-17,  5.00000000e-01,
         8.66025404e-01,  8.66025404e-01,  5.00000000e-01,
        -7.81831482e-01,  6.23489802e-01,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         2.50000000e-01, -5.00000000e-01, -2.50000000e-01,
         4.20000000e-01,  4.24200000e-01,  7.70000000e-01,
         2.83600000e-01,  8.01104972e-02,  6.21468927e-02,
         1.00000000e+00,  6.12323400e-17,  5.00000000e-01,
         8.66025404e-01,  1.22464680e-16, -1.00000000e+00,
        -7.81831482e-01,  6.23489802e-01,  8.51282051e-02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         2.50000000e-01,  5.00000000e-01, -2.50000000e-01,
         4.60000000e-01,  4.54500000e-01,  7.20000000e-01,
         2.98500000e-01,  1.29834254e-01,  5.31073446e-02,
         1.00000000e+00,  6.12323400e-17,  5.00000000e-01,
         8.66025404e-01, -2.58819045e-01, -9.65925826e-01,
        -7.81831482e-01,  6.23489802e-01,  9.53846154e-02]])